<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagar 20.000</title>
</head>
<body>
    <h1>Pagar 20.000</h1>
    <form action="/transaccion-completa/create" method="POST">
        <input type="submit" value="Pagar 20.000 con Transacción Completa">
    </form>
    <form action="/webpay-plus/create" method="GET">
        <input type="submit" value="Pagar 20.000 con Webpay Plus">
    </form>
</body>
</html>
